@import 'https://fonts.googleapis.com/css?family=Raleway';

h1 {
    text-align: center;
    color: cornflowerblue;
}

p {
    text-align: center;
    color: rgb(230, 102, 102);
}

.ramen-home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.phillip {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fill-button {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.btn-primary {
    border: 3px solid red;
    color: red;
}

.btn-primary:hover {
    color: #fff;
}

.btn-primary::after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}

.btn-primary:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
}

.btn-primary:hover:after,
.btn-primary:active:after {
    width: 100%;
}

.container {
    font-family: Raleway;
    margin: 0 auto;
    padding: 3em 1em;
    text-align: center;
}

.container a {
    color: rgb(226, 132, 132);
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.top-bottom-borders-in a:before,
.top-bottom-borders-in a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: rgb(230, 131, 131);
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.top-bottom-borders-in a:before {
    top: 0px;
    transform: translateY(-10px);
}

.top-bottom-borders-in a:after {
    bottom: 0px;
    transform: translateY(10px);
}

.top-bottom-borders-in a:hover:before,
.top-bottom-borders-in a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}